<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/379d5d59-2ff4-4f3a-9ad9-f5095e8281c7/resourceGroups/myDemo2018bAng2/providers/Microsoft.Web/sites/A20Insurance20180108121036</ResourceId>
    <ResourceGroup>myDemo2018bAng2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://a20insurance20180108121036.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>a20insurance20180108121036.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>A20Insurance20180108121036</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$A20Insurance20180108121036</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="A20Insurance.Models.ServiceDBConnect" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;Initial Catalog=A20database.Models.ServiceDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=930;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;       Initial Catalog=A20database.Models.ServiceDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;       MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=930" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="A20Insurance.Models.ServiceDBConnect, A20Insurance" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="A20Insurance.Models.ClaimDBConnect" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;Initial Catalog=A20database.Models.ClaimDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=930;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;       Initial Catalog=A20database.Models.ClaimDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;       MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=930" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="A20Insurance.Models.ClaimDBConnect, A20Insurance" MigrationConfiguration="A20Insurance.Models.Configuration1, A20Insurance" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="A20Insurance.Models.CustomerDBConnect" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;Initial Catalog=A20database.Models.CustomerDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=930;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;       Initial Catalog=A20database.Models.CustomerDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;       MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=930" />
          <Object Type="DbCodeFirst">
            <Source Path="MultipleDBMigrations" DbContext="A20Insurance.Models.CustomerDBConnect, A20Insurance" MigrationConfiguration="-DuplicateMigration-" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="A20Insurance.Models.PolicyDBConnect" Order="8" Enabled="False">
          <Destination Path="Data Source=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;Initial Catalog=A20database.Models.PolicyDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;Connect Timeout=930;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;       Initial Catalog=A20database.Models.PolicyDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;       MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=930" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="A20Insurance.Models.PolicyDBConnect, A20Insurance" MigrationConfiguration="A20Insurance.Models.Configuration2, A20Insurance" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="A20Insurance.Models.PolicyDBConnect-Web.config Connection String">
      <ParameterValue>Server=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;       Initial Catalog=A20database.Models.PolicyDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;       MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=930</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="A20Insurance.Models.CustomerDBConnect-Web.config Connection String">
      <ParameterValue>Server=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;       Initial Catalog=A20database.Models.CustomerDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;       MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=930</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="A20Insurance.Models.ClaimDBConnect-Web.config Connection String">
      <ParameterValue>Server=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;       Initial Catalog=A20database.Models.ClaimDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;       MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=930</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="A20Insurance.Models.ServiceDBConnect-Web.config Connection String">
      <ParameterValue>Server=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;       Initial Catalog=A20database.Models.ServiceDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;       MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=930</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="A20Insurance.Models.ServiceDB-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="A20Insurance.Models.PolicyDB-Web.config Connection String">
      <ParameterValue>Server=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;       Initial Catalog=A20database.Models.PolicyDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;       MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=930</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="A20Insurance.Models.CustDB-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="A20Insurance.Models.ClaimDB-Web.config Connection String">
      <ParameterValue>Server=tcp:a20insurance20180108121036dbserver.database.windows.net,1433;       Initial Catalog=A20database.Models.ClaimDBConnect;Persist Security Info=False;User ID=admin1023;Password=@Orange12;       MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=930</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="A20Insurance.Models.ClaimDBConnect" />
    <_ConnectionStringsToInsert Include="A20Insurance.Models.CustomerDBConnect" />
    <_ConnectionStringsToInsert Include="A20Insurance.Models.PolicyDBConnect" />
    <_ConnectionStringsToInsert Include="A20Insurance.Models.ServiceDBConnect" />
  </ItemGroup>
</Project>