






<div>
     
    <br />
    <br />

    <br />
    <br />


    <div class="row-md-6" align="center">

        <img alt="Second slide" src="/app/pics/rock.jpg" class="img-responsive">

        <font family="arial" font-size="60" style="color:dodgerblue">
            <h1 display-1><i> The Insurance Company</i></h1>
        </font>

        <br />
        <font family="arial" font-size="35" style="color:Gray">
            <h1 display-1><i> Meeting all your insurance needs!</i></h1>
        </font>

    </div>
</div>





